<header class="header js-header">
  <div class="header__container container">

    <a href="/index.html" class="header__logo">
      <img class="header__logo-img" src="/img/logo/.svg" alt="" title="" width="" height="">
    </a>

    Шапка

    <button class="header__burger-btn burger-btn js-open-top-menu" aria-label="Открыть/закрыть меню">
      <span class="burger-btn__line" role="img"></span>
      <span class="burger-btn__line" role="img"></span>
      <span class="burger-btn__line" role="img"></span>
    </button>
  </div>

  {% include "../components/nav.html" %}
</header>
