/*** Header.less ***/
.header {
    height: 200px;
    position: relative;
    z-index: 10;

    .container {
        position: relative;
        height: 200px;
    }
}

.logo {
    z-index: 100;
    position: absolute;
    display: block;
    left: 30px;
    top: 22px;
}

.logo__img {

}

.logo__name {
    position: absolute;
    left: -9999px;
}

.navigation {

}

.navigation__list {
    list-style-type: none;
    display: block;
    text-align: center;
}

.navigation__item {
    .ib;
}

.navigation__link {

}